body{
  background-color: black;
  display:flex;
  align-content: center;
}
header{
  display: flex;
  position: fixed;
  flex-direction: row;
  font-family: Helvetica;
  width: 1300px;
  border-bottom: solid 1px seashell;
  background-color: black;
  height: 69px;
  align-items: center;
}
.cozytea{
  font-size: 22px;
  opacity: 0.9;
  height: 69px;
  width: 200px;
  padding-left: 10px;
  color: seashell;
  justify-content: flex-start;
}
main{
  align-items: center;
}
nav{
display: flex;
flex-direction: row;
background-color: black;
align-items: center;
flex-wrap: nowrap;
align-content:flex-end;
text-decoration: underline;
height: 69px;
word-spacing: 25px;
}
a, a:visited{
     color: seashell;
}
.backgroundimage{
  width: 1200px;
  height: 700px;
}
h2{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  color: white;

}
.ourmission{
  align-items: center;
}
h3{
  color:white;

}
.image,.images2{
  display: flex;
  flex-wrap: nowrap;
  width: 200px;
  height: 300px;
}
